body {
    background-color: rgb(22, 22, 108);
    color: white;
}

/* a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    
} */

.Home {
    position: relative;
    top: 10px;
    left: 777px;
}

.InstantRide {
    position: relative;
    top: 10px;
    left: 867px;
}

.RentACar {
    position: relative;
    top: 10px;
    left: 957px;
}

.About {
    position: relative;
    top: 10px;
    left: 1047px;
}

.contactus {
    position: relative;
    top: 10px;
    left: 1137px;
}

a {
    color: #fff;
    /* Sets the default color to white */
    text-decoration: none;
    /* Removes the default underline */
    transition: color 0.3s;
    /* Smooth transition effect for color change */
    font-size: 20px;
}

/* Change color on hover */
a:hover {
    color: #007bff;
    /* Changes the color to blue (#007bff) on hover */
    text-decoration: underline 2px solid rgb(0, 213, 255);
    text-underline-offset: 15px;
}